@font-face {
	font-family: customFONT;
	src: url('../fonts/Rawkbrush-ywLym.otf');
}

* {
	padding: 0;
	margin: 0;
}

:root {
	--containerRadius: 250px;
	--bubble-container-radius: 330px;
	--animation-time: 8000ms;
}
body {
	background-color: #008891;
	overflow: hidden;
}
footer {
	font-family: 'customFONT';
	color: #00587a;
	position: absolute;
	letter-spacing: 2px;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.container {
	background-color: #0f3057;
	width: var(--containerRadius);
	height: var(--containerRadius);
	border-radius: 100%;
	filter: drop-shadow(0px 0px 20px #e7e7de);
	animation: pulse var(--animation-time) linear none infinite alternate;
}

.bubble {
	background-color: #e7e7de;
	width: 25px;
	height: 25px;
	border-radius: 100%;
}
.bubble-container {
	height: var(--bubble-container-radius);
	width: 15px;
	animation: container-height-animate calc(var(--animation-time) * 2) linear
		none infinite normal;
}

.text {
	font-family: 'customFONT';
	color: #fff;
	font-size: 2rem;
	letter-spacing: 5px;
	margin-top: -1px;
	animation: text-size-animate var(--animation-time) linear none infinite
		alternate;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

.waves {
	position: absolute;
	bottom: 0px;
	z-index: -1;
	height: 30vh;
	width: 120%;
	left: -10px;
}
@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
@keyframes pulse {
	from {
		width: var(--containerRadius);
		height: var(--containerRadius);
		background-color: #16447a;
	}
	to {
		width: calc(var(--containerRadius) * 2);
		height: calc(var(--containerRadius) * 2);
		background-color: #0f3057;
	}
}

@keyframes container-height-animate {
	0% {
		height: var(--bubble-container-radius);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	50% {
		height: calc(var(--bubble-container-radius) * 2);
		transform: translate(-50%, -50%) rotate(360deg);
		padding-top: 30px;
	}
	100% {
		height: calc(var(--bubble-container-radius));
		transform: translate(-50%, -50%) rotate(720deg);
		padding-top: 0px;
	}
}
@keyframes text-size-animate {
	from {
		font-size: 2rem;
	}
	to {
		font-size: 6rem;
	}
}
